body{
  background-color: coral;
}
h1{
  color: cornflowerblue;
}
h1.title{
  color: deeppink;
}
h1{
  color: darkorchid;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 80px;
  font-weight: lighter;
  font-style: oblique;
  text-transform: uppercase;
  text-decoration: gold 5px line-through;
  text-align: center;
  text-shadow: indianred 5px line-through;
  text-indent: 20px;
  letter-spacing: 10px;
  word-spacing:  20px;
}
ul li{
  color: lightcoral;
  list-style: square inside;
  border:black 2px solid;
}
ol li{
  list-style-type: decimal-leading-zero;
}
.brands li{
  font-size:50px
}